<%

ranks= [2, 3, 4, 5, 6, 7, 8, 9, 10, "ace", "jack", "queen", "king"]
suits =["clubs", "diamonds", "spade", "hearts"]

deck = []
for rank in ranks
    for suit in suits
        deck << "#{rank}_of_#{suit}"
    end
end
shuffled_deck = deck.shuffle
hand = shuffled_deck[0,5]
%>

<h1> Welcome to my Casino! </h1>

<% for card in hand %>
<img src="/images/cards/<%= card %>.svg">
<% end %>